@import "tailwindcss";

/* Force the base layers to be exactly the size of the window */
:root, html, body, #root {
  margin: 0 !important;
  padding: 0 !important;
  width: 100% !important; 
  height: 100% !important;
  max-width: 100vw !important; /* Prevents horizontal pushing */
  overflow: hidden; /* This removes the scrollbar causing the white gap */
  background-color: #050505;
}